*{
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*barra nav*/
nav{
    width: 300px;
    height: 703px;
    background-color:#001B34;
    display: block;
    float: left;
}
nav #usuario{
    background-color: blue;
    width: 70px;
    height: 70px;
    margin: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
    box-shadow: none;
}
nav a {
    display: block;
    width: 220px;     
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
nav li:hover{
    background-color:#0065CE;
    border-radius: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    padding: 20px;
}
nav ul li{
    font-size: 22px;
}
h1{
    margin-left: 350px;
}
#resumo{
    color: #888888;
    margin-top: 20px;
}

/*MAIN*/
#resumo{
    margin-left: 350px;
}
div{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: block;
    float: left;
    margin-top: 60px;
    margin-left: 50px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px#888888;
}
div p{
    margin-top: 20px;
    color: #888888;
}
.dados{
    font-size: 40px;
    margin-top: 60px;
    color: #0065CE;
}
table{
    border: 1px solid black;
    width: 800px;
    align-items: center; 
    margin-left: 400px;  
    margin-top: 20px; 
     border-collapse: collapse; 
}
#tabela{
    overflow-y: scroll;
    width: 1500px;
    height: 600px;

}
td{
    border:1px solid rgb(160, 160, 160);
}
.azul{
    background-color: #001B34;
    color: white;
}
#tabelaClientes{
    width: 1500px;
    height: 400px;
}
